// Abstract
@use "abstract/colors" as *;
@use "abstract/variables" as *;

// Styles
@use "styles/base" as *;
@use "styles/nav" as *;
@use "view/mainView" as *;

// Components
@use "components/anchor" as *;
@use "components/button" as *;
@use "components/input" as *;




.importance-1 {
  background-color: $colorBackgroundNavItem1;
  transition: 0.5s;
  &:hover {
    background-color: $colorBackgroundNavItem1Lighter;
  }
}
.importance-2 {
  background-color: $colorBackgroundNavItem2;
  transition: 0.5s;
  &:hover {
    background-color: $colorBackgroundNavItem2Lighter;
  }
}
.importance-3 {
  background-color: $colorBackgroundNavItem3;
  transition: 0.5s;
  &:hover {
    background-color: $colorBackgroundNavItem3Lighter;
  }
}

