@use "../abstract/colors" as *;
@use "../abstract/variables" as *;

.header {
  padding-top: 1rem;
  height: 100vh;
  width: max(15vw, 20rem);

  .logo {
    width: inherit;
    height: fit-content;
    max-height: 6rem;

    .logo-anchor {
      margin: 0 auto;
      width: 90%;
      display: grid;
      grid-template-columns: 50%;
      justify-items: stretch;

      .logo-img {
        aspect-ratio: 1.5;
        grid-row: 1;
      }
      .logo-title {
        grid-row: 1;
        font-size: 2rem;

      }
    }
  }
  .navbar {
    width: inherit;
    display: flex;
    flex-flow: column;

    .nav-content {
      width: 100%;

      .nav-list {
        padding: 0;

        .nav-list-item {
          margin: 0.75rem 1rem;
          height: 4rem;
          border: 1px solid $colorBorder;
          border-radius: $borderRadius;

          .item-content {
            margin: 0 auto;
            width: 90%;
            display: grid;
            row-gap: 0.5rem;

            .item-date {
              font-size: 0.75rem;
              padding: 0.25rem;
              align-self: center;
              grid-row: 1;
            }
            .item-title {
              justify-self: center;
              padding: 0.25rem;
              grid-row: 2;
              grid-column-start: 1;
              grid-column-end: span 2;
            }
          }
        }
      }
    }
  }
}