@use "../abstract/colors" as *;
@use "../abstract/variables" as *;

.header {
  padding: $headerPadding 0;
  height: calc(100vh - $headerPadding * 2);
  width: clamp(2rem, 4vw, 3rem);
  background-color: $colorNavbar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    aspect-ratio: 1;
    width: inherit;

    .logo-img {
      width: inherit;
      height: inherit;
      object-fit: contain;
    }
  }
  .navbar {
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nav-content {
      width: inherit;
      display: flex;
      flex-flow: column;
      gap: 0.5rem;

    }
  }
  .menu {
    aspect-ratio: 1;
    width: inherit;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
  }
}